<?xml version="1.0" ?>
<!--
/**
 * Dhl_LocationFinder_FacilitiesController
 *
 * @category  Dhl
 * @package   Dhl_LocationFinder
 * @author    Christoph Aßmann <christoph.assmann@netresearch.de>
 * @author    Benjamin Heuer <benjamin.heuer@netresearch.de>
 * @license   http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @link      http://www.netresearch.de/
 */
-->
<config>
    <sections>
        <checkout>
            <groups>
                <dhl_locationfinder translate="label" module="dhl_locationfinder">
                    <label>DHL Parcel Shop Finder</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <map_api_key translate="label" module="dhl_locationfinder">
                            <label>Google Maps API Key</label>
                            <comment><![CDATA[<a href="https://developers.google.com/maps/documentation/javascript/get-api-key" target="_blank">Get a Key</a>]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </map_api_key>
                    </fields>
                </dhl_locationfinder>
            </groups>
        </checkout>
    </sections>
</config>
