.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

#sf-map-wrapper {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
    -webkit-transition: all 400ms; /* Safari */
    transition: all 400ms;
}

#sf-map-wrapper.active {
    z-index: 1001;
    opacity: 1;
    -webkit-transition: all 400ms; /* Safari */
    transition: all 400ms;
}

#sf-map-wrapper .close-map {
    display: inline-block;
    position: absolute;
    top: -6%;
    right: -3%;
    font-size: 0;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: white;
    text-align: center;
}

#sf-map-wrapper .close-map:after {
    content: 'x';
    display: inline-block;
    font-size: 20px;
    width: 25px;
    height: 25px;
    position: relative;
    bottom: 5px;
}

#sf-map-wrapper .map-content {
    position: relative;
    top: 6%;
    left: 6%;
    width: 88%;
    height: 530px;
    padding: 16px;
    background-color: white;
    z-index: 1002;
}

#sf-map-wrapper .map-content .fieldset {
    margin: 0 10px 0 0;
    display: block;
    float: left;
    padding: 0;
    background: none;
    border: none;
}

#sf-map-wrapper .map-content .fieldset + .fieldset {
    margin-top: 0;
}

#sf-map-wrapper .map-content .input-box {
    display: inline-block;
    float: left;
    margin-left: 10px;
    padding: 0;
}

#sf-map-wrapper .map-content .input-box input,
#sf-map-wrapper .map-content .input-box select {
    background: white;
    border: 1px solid #AEAEAE;
    height: 33px;
    font-size: 14px;
    line-height: 21px;
    padding: 0 8px;
    width: 100%;
    box-sizing: border-box;
}

#sf-map-wrapper .map-content .input-box:first-child {
    margin-left: 0;
}

#sf-map-wrapper .map-content .input-box.country {
    width: 150px;
}

#sf-map-wrapper .map-content .input-box.zipcode {
    width: 80px;
}

#sf-map-wrapper .map-content .input-box.city {
    width: 210px;
}

#sf-map-wrapper .map-content .input-box.street {
    width: 280px;
}

#sf-map-wrapper .map-content .buttons-set {
    float: left;
    border: none;
    margin: 0;
    padding: 0;
    clear: none;
}

#sf-map-wrapper .map-content .buttons-set button {
    margin-left: 10px;
    float: left;
}

#sf-map-wrapper .map-content .buttons-set button span {
    height: 33px;
    font-size: 13px;
    box-sizing: border-box;
    overflow: hidden;
}

#sf-map-wrapper #map-canvas {
    position: relative;
    display: block;
    margin-top: 15px;
    height: 90%;
}

#sf-map-wrapper #map-canvas > * {
    z-index: 1003;
}

#additional-dhl-fields {
    display: none;
}

#additional-dhl-fields.active {
    display: block;
}

#additional-dhl-fields .readonly,
#co-shipping-form input:read-only{
    cursor: not-allowed;
    background: #eaeaea;
}

#dhl_locationfinder_trigger {
    position: relative;
}

#dhl_locationfinder_trigger .locationfinder-opener {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#dhl_locationfinder_trigger .locationfinder-opener.active {
    display: inline-block;
}

@media only screen and (max-width: 1124px) {

    #sf-map-wrapper .map-content .buttons-set {
        float: none;
        text-align: left;
        padding-top: 10px;
        clear: both;
    }

    #sf-map-wrapper .map-content .buttons-set button {
        margin: 0;
        float: left;
    }

    #sf-map-wrapper #map-canvas {
        height: 81%;
    }
}

@media only screen and (max-width: 900px) and (min-width: 769px) {

    #sf-map-wrapper .map-content .buttons-set {
        position: absolute;
        right: 15px;
        top: 16px;
        padding: 0;
    }

    #sf-map-wrapper .map-content .fieldset {
        margin-right: 0;
    }

    #sf-map-wrapper .map-content .fieldset + .fieldset {
        margin-top: 10px;
        clear: left;
    }
}

@media only screen and (max-width: 768px) {

    #sf-map-wrapper .close-map {
        right: 0;
    }

    #sf-map-wrapper .map-content {
        top: 8%;
        left: 1%;
        width: 98%;
        height: 500px;
    }

    #sf-map-wrapper .map-content .fieldset {
        float: none;
        display: table;
        width: 100%;
    }

    #sf-map-wrapper .map-content .fieldset + .fieldset {
        margin-top: 10px;
    }

    #sf-map-wrapper .map-content .input-box.country,
    #sf-map-wrapper .map-content .input-box.zipcode {
        width: 30%;
        float: none;
        display: table-cell;
    }

    #sf-map-wrapper .map-content .input-box.city,
    #sf-map-wrapper .map-content .input-box.street {
        margin: 0;
        width: 70%;
        padding-left: 5%;
        display: table-cell;
        float: none;
    }

    #sf-map-wrapper #map-canvas {
        height: 72%;
    }

    #dhl_locationfinder_trigger .locationfinder-opener {
        margin: 10px 110px 0 0;
        position: relative;
    }
}

@media only screen and (max-width: 375px) {

    #sf-map-wrapper .close-map {
        top: -7%;
    }

    #sf-map-wrapper .map-content .fieldset {
        display: block;
    }

    #sf-map-wrapper .map-content .input-box.country {
        width: 100%;
        display: block;
        float: none;
    }

    #sf-map-wrapper .map-content .input-box.zipcode {
        float: left;
    }

    #sf-map-wrapper .map-content .input-box.city {
        float: right;
        padding: 10px 0;
        margin: 0;
        width: 66%;
    }

    #sf-map-wrapper .map-content .input-box.street {
        float: right;
        width: 100%;
        padding: 0;
    }

    #sf-map-wrapper .map-content {
        height: 430px;
    }

    #sf-map-wrapper #map-canvas {
        height: 56%;
    }

    #dhl_locationfinder_trigger .locationfinder-opener {
        margin: 10px 0 0;
    }
}
